<div class="side-menu">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('kitaplarim') }}">
                <i class="fas fa-book"></i> Kitaplarım
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('gorevlerim') }}">
                <i class="fas fa-tasks"></i> Görevlerim
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('listening') }}">
                <i class="fas fa-headphones"></i> Listening
            </a>
        </li>
    </ul>
</div> 